body {
  font-family: 'Arial', sans-serif;
  margin: 20px;
  text-align:center
  display:flex;
  background-image:url("https://github.com/Saka1nero2/11037486_DCIT_205_IA/blob/main/uniog.jpg")
}

h1 {
  color: #333;
}

.lecturer {
  margin-bottom: 30px;
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
}

.lecturer img {
  max-width: 50%;
  border-radius: 50%;
  margin-bottom: 15px;
}

p {
  color: #777;
}